@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: #e2e8f0;
  background-color: #0f172a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Basic reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  font-weight: 500;
  color: inherit;
}

a:hover {
  color: #bfdbfe;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: inherit;
}

#root {
  min-height: 100vh;
}

button {
  font-family: inherit;
}
